#main {
    display: flex;
    flex-direction: row;
}

#users {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    height: 100%;
}

#ready-game {
    display: flex;
    width: 50%;
    border: 2px solid grey;
    margin: 20px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#btn-status {
    border: 2px solid grey;
    height: 50px;
    width: 100px;
    cursor: pointer;
    background: #888888;
}

.bg-red {
    margin: 10px;
    background: red;
    color: white;
}

.bg-green {
    margin: 10px;
    background: green;
    color: #ffffff;
}

.none {
    display: none;
}

.block {
    display: block;
}