.username-input-container {
    display: grid;
    justify-content: center;
}

.welcome {
    font-size: 40px;
    padding: 20px;
}

#join {
    height: 39px;
    font-size: 14px;
    border: 1px solid grey;
    text-transform: uppercase;
    padding: 0 15px;
    margin-left: 10px;
}